.edit-table-pagination {
  width: 80%;
  height: calc(100% - 60px); /* 100% - header */
  display: flex;
  flex-direction: column;
}

.item-data {
  position: sticky;
  top: 60px; /* Navbar-Höhe */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 0px;
  background-color: var(--mat-sys-surface);
  z-index: 200;
  border-bottom: 1px solid;
}

.item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 5px;
  background-color: var(--mat-sys-surface);
}

.input-field {
  width: calc(100% - 20px);
  z-index: 100;
  margin: 0;
  padding: 5px;
}

.searchAndButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search {
  width: 50% /*calc(50% + 26px)*/;

}

.addResetButtons {
  width: calc(50% - 20px);
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

button.addReset{
  height: 48px;
  align-self: center;
  width: calc(50% - 8px);
  /*margin-left: 10px;
  /*flex-grow: 1;*/
}

.mat-mdc-form-field-subscript-wrapper .mat-mdc-form-field-bottom-align{
  display: none;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: auto /* 100% - pagination */;
  flex: 1;
}

.paginator-wrapper {
  border-top: 1px solid;
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--mat-sys-surface);  
}

.purchase-info {
  align-self: center;
  font-size: 16px;
}

table {
  table-layout: fixed;
}

.mat-column-item_name { width: 48%; }
.mat-column-item_total_price { width: 15%; }
.mat-column-amount { width: 15%; }
.mat-column-price_per_amount { width: 15%; }
.mat-column-delete { width: 7%; }

.mat-mdc-header-row {
  position: sticky;
  top: 124px;
  z-index: 100;
  transition: 75ms;
}

.mat-mdc-header-cell:hover {
  transition: 75ms;
  background-color: rgba(0, 0, 0, 0.04);
}

.mat-mdc-row {
  cursor: pointer;
  transition: 75ms;
  height: 44px;
}

.mat-mdc-row:hover {
  transition: 75ms;
  background-color: rgba(0, 0, 0, 0.04);
}
