header{
    height: 5vh;
}

nav.topBar{
    height: 100%;
    display: grid;
    background-color: #2d2dff;
    grid-template-columns: 10% repeat(5, 10%) auto 5%;
    grid-template-areas: "logo" "link1" "link2" "link3" "link4" "link5" "logout";
}

img.logo{
    display: block;
    object-fit: contain;
    height: 5vh;
}

a.links{
    max-height: 100%;
    text-align: center;
    align-content: center;
    color:white;
    font-size: 2.2vh;
}
